{{ define "main" }}
  <div class="resources">
    <div class="row">
    {{ range sort .Pages "Date" "desc" }}
      <div class="col-sm-8 match-height-item">
        {{ .Render "summary"}}
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}