<div class="row margin-top-30">
  <div class="container benefits-container">
    <h2>BENEFITS OF GETTING LISTED AS A COMPATIBLE PRODUCT</h2>
    <p>There are several benefits associated with completing the process to get listed on the Compatible Products page,
      including:</p>
    <ul class="row padding-top-20">
      <div class="col-sm-12 black-col">
        <li class="match-height-item">Customer Confidence: Provide your enterprise customers and prospects with the confidence that your product
          meets their quality, portability, and scalability requirements</li>
        <li class="match-height-item">Collaboration: Demonstrate your organization is collaborating with industry leaders to advance Sparkplug technologies</li>
      </div>
      <div class="col-sm-12 blue-col">
        <li class="match-height-item">Brand Building: Strengthen your brand in partnership with EF and Sparkplug Working Group</li>
        <li class="match-height-item">Community support: Demonstrate your support for the Sparkplug community</li>
      </div>
    </ul>
  </div>
</div>
